html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: radial-gradient(circle, rgba(77, 83, 119, 1) 20%, rgba(129, 137, 159, 1) 100%);
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calculator {
  height: 580px;
  width: 380px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(206, 206, 249, 0.71);
  border: 4px solid black;
  border-radius: 4px;
}

button {
  border: 1px solid black;
  transition: background-color 0.10s;
  font-size: 22px;
}

.display {
  grid-column: 1/5;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  word-wrap: break-word;
  word-break: break-all;
  padding: 0 15px;
}

.previous {
  font-size: 18px;
}

.current {
  font-size: 20px;
}

.clear, .equals {
  grid-column: span 2;
}

.number, .decimal {
  background-color: transparent;
}

.decimal {
  font-weight: bold;
}

.number:hover, .decimal:hover {
  background-color: rgba(156, 156, 191, 0.71)
}

.operator {
  background-color: rgb(182, 195, 231);
  font-size: 26px;
}

.operator:hover {
  background-color: rgb(170, 181, 215);
}

.clear {
  background-color: rgb(216, 206, 240);
  font-size: 18px;
}

.undo {
  background-color: rgb(216, 206, 240);
  font-size: 26px;
}

.clear:hover,
.undo:hover {
  background-color: rgb(200, 191, 223);
}

.equals {
  background-color: rgb(181, 212, 187);
  font-size: 30px;
}

.equals:hover {
  background-color: rgb(153, 185, 159);
}



